<div>

    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" placeholder="User">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Surname" placeholder="Surname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" placeholder="E-mail">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" placeholder="Phone Number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="E-mail" placeholder="Flat Number">
        </mat-form-field>

    </form>

</div>