<div class="all">
  <header>
    <mat-toolbar>
      <div class="login">
        <mat-icon class="login-icon">account_box</mat-icon>
        <button class="login-button" mat-button (click)="openLogin()">Особистий кабінет</button>
        <a routerLink="/flat"><button mat-button>FLAT</button> </a>
      </div>
    </mat-toolbar>
  </header>

  <!-- -----------------Company name--------------------- -->
  <section>
    <mat-grid-list cols="1" rowHeight="140px">
      <mat-grid-tile colspan="1" rowspan="1">
        <h1 class="company-name">{{company?.name}}</h1>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <!-- ------------------Contats------------------------ -->
  <section class="contacts">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile *ngFor="let contact of company?.contacts">
        <div class="information">
          <p>{{contact.person}}</p>
          <span class="contacts-number">{{contact.number}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <!-- ------------------Useful information------------ -->
  <mat-grid-list class="userfulInfo" cols="1" rowHeight="130px">
    <mat-grid-list cols="4" rowHeight="130px">
      <mat-grid-tile *ngFor="let info of userfulInfo">
        <div class="information">
          <mat-icon class="icon">{{info.iconName}}</mat-icon>
          <span>{{info.text}}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-grid-list>

</div>

<!-- -------------------News------------------------ -->
<section class="all-news">
  <div class="title">Новини</div>
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile *ngFor="let news of allNews">
      <div class="news">
        <p class="news-title">{{news.newsTitle}}</p>
        <p class="news-text">
          {{news.newsText}}
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<!-- ---------------------------------------------- -->