<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!-- <header>
        <mat-toolbar color="primary">
            <span>Welcome {{userName}}, Flat № {{flatNumber}}</span>
        </mat-toolbar>
    </header>
    <a routerLink="/"><button mat-button>Главная</button> </a>

    <a routerLink="/userinfo"><button mat-button>Мои данные</button>
    </a>
    <a routerLink="userPay"><button mat-button>Расходы</button>  </a>
    <button mat-button>Информация</button>
    <button mat-button>Контакты</button> -->
    <div>
        <router-outlet></router-outlet>
    </div>

    <!-- <footer>
        <mat-toolbar color="primary">
            <span></span>
        </mat-toolbar>
    </footer> -->
</div>