.all {
    background: url(/assets/bg.jpg) no-repeat center top / cover;
}

mat-toolbar {
    background: rgba(255, 255, 255, 0.0)
}

.login {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

.login-icon {
    padding-right: 10px;
    font-size: 30px;
}

.login-button {
    font-size: 20px;
}

.contacts {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

/* .contacts-number-prefix {
    color: red;
    font-size: 25px;
} */

.contacts-number {
    color: red;
    font-size: 25px;
}

.company-name {
    font-size: 44px;
    color: red;
}

.userfulInfo {
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    margin-top: 30px;
}

.information {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.icon {
    font-size: 36px;
    margin-bottom: 20px;
    color: red;
}

.information span {
    font-weight: bold;
    font-size: 20px;
}

.all-news {
    background-image: linear-gradient(#cccccc, white);
}

/* .news {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    align-items: flex-start;
    justify-content: flex-start;
} */

.news > figure {
    justify-content: flex-start !important;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    padding-top: 50px;
    border-bottom: 1px solid red;
}

.news-text p {
    font-weight: bold;
}

.news-text {
    left: 5px;
}