<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="login-form" novalidate>

  <mat-form-field>
    <input matInput placeholder="Електронна адреса" formControlName="login" type="email" autofocus>
  </mat-form-field>

  <mat-error *ngIf="formErrors.login">
    {{formErrors.login}}
  </mat-error>

  <mat-form-field>
    <input matInput placeholder="Пароль" formControlName="password" type="password">
  </mat-form-field>

  <mat-error *ngIf="formErrors.password">
    {{formErrors.password}}
  </mat-error>

  <!-- <mat-checkbox>Залишитися в системі</mat-checkbox> -->

  <button mat-raised-button color="primary" class="submit-btn" [disabled]="loginForm.invalid">Вхід</button>

  <!-- <div class="links">
    <a routerLink=".">Зберегти пароль?</a>
    <a routerLink=".">Зареєструватися</a>
  </div> -->

</form>
